In [2]:
import pandas as pd

In [3]:
stock_df = pd.read_csv('All Stock.csv')
stock_df

,Data,Open,Close,Adj Close,Company,Industry,Stock ticker
0,2015-01-02,129.639999,129.949997,113.439125,Linde plc,Basic Materials,LIN
1,2015-01-05,128.820007,126.519997,110.444939,Linde plc,Basic Materials,LIN
2,2015-01-06,126.199997,124.900002,109.030746,Linde plc,Basic Materials,LIN
3,2015-01-07,125.870003,126.300003,110.252884,Linde plc,Basic Materials,LIN
4,2015-01-08,127.889999,128.380005,112.068611,Linde plc,Basic Materials,LIN
...,...,...,...,...,...,...,...
49018,2019-12-23,20.950001,21.200001,19.417809,Kinder Morgan,Energy,KMI
49019,2019-12-24,21.180000,21.129999,19.353691,Kinder Morgan,Energy,KMI
49020,2019-12-26,21.190001,21.200001,19.417809,Kinder Morgan,Energy,KMI
49021,2019-12-27,21.260000,21.080000,19.307896,Kinder Morgan,Energy,KMI
49022,2019-12-30,21.100000,21.030001,19.262100,Kinder Morgan,Energy,KMI

In [4]:
# arithmetic return
stock_df = stock_df.rename(columns={'Data':'date'})
stock_df['daily return'] = (stock_df['Close'] - stock_df['Open']) / stock_df['Open'] 
stock_df

,date,Open,Close,Adj Close,Company,Industry,Stock ticker,daily return
0,2015-01-02,129.639999,129.949997,113.439125,Linde plc,Basic Materials,LIN,0.002391
1,2015-01-05,128.820007,126.519997,110.444939,Linde plc,Basic Materials,LIN,-0.017854
2,2015-01-06,126.199997,124.900002,109.030746,Linde plc,Basic Materials,LIN,-0.010301
3,2015-01-07,125.870003,126.300003,110.252884,Linde plc,Basic Materials,LIN,0.003416
4,2015-01-08,127.889999,128.380005,112.068611,Linde plc,Basic Materials,LIN,0.003831
...,...,...,...,...,...,...,...,...
49018,2019-12-23,20.950001,21.200001,19.417809,Kinder Morgan,Energy,KMI,0.011933
49019,2019-12-24,21.180000,21.129999,19.353691,Kinder Morgan,Energy,KMI,-0.002361
49020,2019-12-26,21.190001,21.200001,19.417809,Kinder Morgan,Energy,KMI,0.000472
49021,2019-12-27,21.260000,21.080000,19.307896,Kinder Morgan,Energy,KMI,-0.008467
49022,2019-12-30,21.100000,21.030001,19.262100,Kinder Morgan,Energy,KMI,-0.003317

In [5]:
nyt_df = pd.read_csv('nyt_scores.csv')
nyt_df

            date   nyt_pol   nyt_sub
0     2015-01-01  0.045455  0.149134
1     2015-01-02  0.072037  0.321540
2     2015-01-03  0.059295  0.465729
3     2015-01-04  0.118750  0.608333
4     2015-01-05  0.181212  0.396078
...          ...       ...       ...
1813  2019-12-26  0.125000  0.329167
1814  2019-12-27  0.075000  0.410417
1815  2019-12-29  0.177020  0.365993
1816  2019-12-30  0.067532  0.322727
1817  2019-12-31  0.128561  0.309508

[1818 rows x 3 columns]

In [6]:
# https://datacarpentry.org/python-ecology-lesson/05-merging-data/
stock_nyt_left = pd.merge(left=stock_df, right=nyt_df, how ='left',left_on='date', right_on='date')
stock_nyt_left

,date,Open,Close,Adj Close,Company,Industry,Stock ticker,daily return,nyt_pol,nyt_sub
0,2015-01-02,129.639999,129.949997,113.439125,Linde plc,Basic Materials,LIN,0.002391,0.072037,0.321540
1,2015-01-05,128.820007,126.519997,110.444939,Linde plc,Basic Materials,LIN,-0.017854,0.181212,0.396078
2,2015-01-06,126.199997,124.900002,109.030746,Linde plc,Basic Materials,LIN,-0.010301,0.066854,0.361403
3,2015-01-07,125.870003,126.300003,110.252884,Linde plc,Basic Materials,LIN,0.003416,0.105118,0.358165
4,2015-01-08,127.889999,128.380005,112.068611,Linde plc,Basic Materials,LIN,0.003831,0.083550,0.307433
...,...,...,...,...,...,...,...,...,...,...
49018,2019-12-23,20.950001,21.200001,19.417809,Kinder Morgan,Energy,KMI,0.011933,0.144016,0.354293
49019,2019-12-24,21.180000,21.129999,19.353691,Kinder Morgan,Energy,KMI,-0.002361,0.141380,0.359756
49020,2019-12-26,21.190001,21.200001,19.417809,Kinder Morgan,Energy,KMI,0.000472,0.125000,0.329167
49021,2019-12-27,21.260000,21.080000,19.307896,Kinder Morgan,Energy,KMI,-0.008467,0.075000,0.410417
49022,2019-12-30,21.100000,21.030001,19.262100,Kinder Morgan,Energy,KMI,-0.003317,0.067532,0.322727

In [7]:
stock_nyt_left.to_csv('latest_data.csv')